<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/script.js"></script>
</head>
<body>
    <div class="container-fluid">
        <nav class="nav navbar">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                        <li><a href="/" class="nav-link text-center">Home</a></li>
                        <li><a href="/links/links" class="nav-link text-center">View all Links</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
    <h1 class="text-center">Welcome to MyL a URL shortener! <small>(for very long urls)</small></h1>
        <hr>