<% include partials/header %>
<div class="row">
<form action="/links" method="post">
    <div class="form-group col-sm-6 col-sm-offset-2">
        <input id="url" type="text" name="url" placeholder="Enter url" class="form-control">
    </div>
    <input type="submit" value="Shorten" class="btn btn-primary col-sm-2">
</form>

</div>
<% include partials/footer %>