<% include partials/header %>

<h2 class="text-center"><a href="myl.herokuapp.com/<%=hash%>">myl.herokuapp.com/<%=hash%></a> This link was clicked <%=count%> times.</h2>

<% include partials/footer %>