.nav .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  text-align: center;
}

.nav-link:hover {
    color: blue;
}

.nav-link {
    color: black;
}

.nav-link:visited {
    color: black;
}